@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vollkorn", Georgia, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

/* Grid geral */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: "header header header" "sidenav content anuncios" "footer footer footer";
}

.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.header .logo {
  max-width: 200px;
}
.header nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header nav ul li + li {
  margin-left: 30px;
}
.header nav ul a {
  display: block;
  padding: 10px;
  color: #FFF;
  font-size: 1.125em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all ease 0.3s;
}
.header nav ul a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}
.sidenav ul li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px;
  background: #FFF;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: all ease 0.5s;
}
.sidenav ul li a:hover {
  background: #B07DFD;
}

.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.content p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}
.content .titulo {
  color: #B07DFD;
}
.content .titulo h1 {
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700;
}
.content .titulo span {
  font-size: 0.875em;
  font-style: italic;
}
.content .caracteristicas {
  display: flex;
  align-items: flex-start;
}
.content .caracteristicas > div {
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
}
.content .caracteristicas > div:first-child {
  margin-right: 30px;
}
.content .caracteristicas span {
  display: block;
  color: #B07DFD;
}
.content .caracteristicas .numero {
  font-size: 3em;
  line-height: 1;
  margin-top: 10px auto;
  padding: 5px;
}
.content .caracteristicas .rotulo {
  background: #FFF;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
}
.content .destaque {
  font-size: 0.875em;
  color: #B07DFD;
  max-width: 16em;
}
.content .citacao, .content .atributos {
  align-self: start;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  color: #FFF;
}
.content .citacao p {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: #FFF;
}
.content .atributos li {
  color: #FFF;
  font-family: Courier, monospace;
  font-size: 1.125em;
  padding: 15px;
  font-weight: 700;
}
.content .atributos li + li {
  border-top: 2px solid #B07DFD;
}
.content .informacoes p + p {
  margin-top: 30px;
}

.col-wide {
  grid-column: 1/-1;
}

.image-1 {
  grid-row: span 2;
  align-self: flex-end;
}

.image-2 {
  align-self: flex-end;
}

.anuncios {
  grid-area: anuncios;
  background: #fafbfc;
  display: grid;
  align-content: flex-start;
  padding: 30px;
  gap: 30px;
}

.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #B07DFB);
}
.footer p {
  color: #FFF;
  text-align: center;
  padding: 10px;
}
