.header{
  grid-area: header;
  background: $color-primary;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  .logo{
    max-width: 200px;
  }

  nav{
    ul{
      display: flex;
      flex-wrap: wrap;

      li + li {
        margin-left: 30px;
      }

      a{
        display: block;
        padding: 10px;
        color: #FFF;
        font-size: 1.125em;
        background: rgba(0, 0, 0, .1);
        border-radius: 5px;
        transition: all ease .3s;

        &:hover{
          background: rgba(0, 0, 0, .5);
        }
      }
    }
  }
}