.sidenav{
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;

  ul{

    li{
      a{
        display: block;
        min-width: 60px;
        max-width: 100px;
        margin: 0 auto 30px;
        background: #FFF;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
        transition: all ease .5s;

        &:hover{
          background: $color-secundary;
        }
      }
    }
  }
}