@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

$color-primary: linear-gradient(135deg, #8844ee, #B07DFB);
$color-secundary: #B07DFD;

$tablet: 1200px;
$mobile: 760px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Vollkorn', Georgia, sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  width: 100%;
  border-radius: 5px;
}

/* Grid geral */

.estrutura{
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: 
    "header header header"
    "sidenav content anuncios"
    "footer footer footer"
  ;

  @media(max-width: $tablet){
    grid-template-areas: 
    "header header header"
    "sidenav content content"
    "sidenav anuncios anuncios"
    "footer footer footer";
  }

  @media(max-width: $mobile){
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "sidenav"
    "content"
    "anuncios"
    "footer";
  }
}

@import 'header';

@import 'sidenav';

@import 'main';

@import 'anuncios';

.footer{
  grid-area: footer;
  background: $color-primary;

  p{
    color: #FFF;
    text-align: center;
    padding: 10px;
  }
}

